
/* ******* */
/* Classes */
/* ******* */

.container{
    width: 30%;
    border: 4px solid black;
    height: 200px;
}

/* *** */
/* IDs */
/* *** */

#board{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}